body{
	
}
.btn_icon01 {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.btn_icon02 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

body .btn--magic .btn_icon01 {
    /* display: none; */
    opacity: 0;
}

body  .btn_icon02 {
	
}

body .btn--magic .btn_icon02 {
    /* display: block; */
    opacity: 1;
}
button.btn.j-btn-test {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}